/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/


section{
    padding: 50px 100px ;
}

.btn{
    color: var(--bg);
    background-color: var(--accent);
    padding: 10px;
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root{
    --accent :rgb(210,72,3);
    --accent2 :rgb(159,56,1);
    --bg: #fff;
    --text: #060606;
}

header{
    width: 100%;
    position: sticky;
    padding: 50px 50px;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    box-shadow: 10px 1px 10px 1px  #060606;
}

header .logo img{
    width: 40px;

}

header nav ul{
    display: flex;
}

header nav ul li a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: bold;
}

header nav ul li a:hover{
    border-top: 3px solid chocolate;
    border-bottom: 3px solid chocolate;
    transition: 0.5 all ease-in-out;
}

.inscription{
    border-radius: 7px;
    font-weight: 500;
    padding: 10px 20px;
    columns: var(--bg);

}

.inscription:hover{
    background-color: var(--accent2);
}

.home{
    width: 100%;
    min-height: 100vh;
    /*
    background-image: url('/images/bg-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    

    background: url('/images/bg-home.jpg') no-repeat center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--bg);
}

.home h1{
    font-size: clamp(30px, 5vw,85px);/*justification de la taille de texte sur tout taille d'ecran*/
    letter-spacing: 2px;
}

.home span{
    color: var(--accent);
}

.apps-store img{
        width: 155px;
        cursor: pointer;
}
.home-form form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg);
    color: var(--text);
    padding: 20px;
    border-radius: 7px;
    position: absolute;
    left: 120px;
}

.home-form .input-box{
    display: flex;
    flex-direction: column;
}

.home-form .input-box input{
    padding: 7px;
    background-color: #c4b9b9;
    border-radius: 7px;
}

.home-form .btn{
    flex: 1 1 5.5rem;

    /*flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 5.5rem;*/

}

.section-heading{
    text-align: center;
    margin: 3rem;
}

.section-heading span{
    color: var(--accent);
    font-weight: 500;
}

.section-heading h2{
    font-size: clamp(25px, 4vw, 50px)
}
.cars-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    background-color: var(--bg);
}

.cars-container .box-car{
    text-align: center;
    padding: 2px;
    position: relative;
    transition: background 1.2s ease-in-out;
}


.cars-container .box-car::after,
.cars-container .box-car::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--accent);
    z-index: -1;
}

.cars-container .box-car::after{
    top: -0.2rem;
    left: -0.2rem;
}

.cars-container .box-car::before{
    bottom: -0.2rem;
    rigth: -0.1rem;
}

.cars-container .box-car:hover .bx{
    color: var(--accent2); 
}

.cars-container .box-car:hover{
    background-color: cacaca;
}

.cars-container .box-car:hover::after,
.cars-container .box-car:hover::before{
    width: 100%;
    height: 100%;
}

.cars-container .box-car .bx{
    font-size: 3rem;
}

.cars-container .box-car.box-car:hover::before{
    background-color: var(--accent);
}


.box-container{
    margin-top: 4;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,auto));
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.box{
    max-width: 360px;
    height: 440px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
    margin: 2px;
}


.box .img img{
    width: 95%;
    margin: 0.5rem 0.5rem;
}

.decription{
    margin: 0.5rem 0.5rem;
    line-height: 2.5rem;
    
}


.decription span{
    background-color: var(--accent2);
    padding: 3px 15px;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--bg);
    border-radius: 9px;
}

.decription p{
    color: var(--accent2);
    font-size: 1.5rem;
    font-weight: bold;
}

.decription button{
    color: var(--bg);
    font-size: 1.5rem;
    font-size: 25px;
    padding: 8px 30px;
    background-color: var(--accent2);
    border-radius: 5px;
    grid-row: 1;
}





















@media screen and(max-width:1024px) {
    
}
@media screen and(max-width:768px) {
    .home-form form{
        position: unset;
        width: 90%;
        margin: 0 auto;

    }
}



